@import "./_variables.scss";

[data-bs-theme="dark"] {
	.bg-darker {
		background-color: $color-dark !important;

		.form-control {
			background-color: inherit !important;
		}

		.form-select {
			background-color: inherit !important;
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}
