.form-control,
.form-select,
.input-group-text {
	border: none !important; // Remove all borders
	border-bottom: var(--bs-border-width) solid var(--bs-border-color) !important; // Add bottom border using variables
	border-radius: 0rem !important; // Remove border radius
	background-color: unset !important;

	&:focus {
		border-bottom: var(--bs-border-width) solid var(--bs-secondary) !important; // Add bottom border using variables
		box-shadow: none !important;
	}
	&:focus + .input-group-text {
		border-bottom: var(--bs-border-width) solid var(--bs-secondary) !important;
		box-shadow: none !important;
	}
}

.wrapper-container {
	max-width: 750px !important; /* Typical mobile device width */
	margin: 0 auto !important; /* Center align */
}

.mt-relative {
	margin-top: -10vh;
	z-index: 2;

	@media (max-height: 668px) {
		margin-top: -8vh; /* Reduce the negative margin for smaller devices */
	}
	@media (min-height: 800px) {
		margin-top: -15vh; /* Increase the negative margin for larger devices */
	}
}
