@import "./_variables.scss";

.app-section {
	border-top: var(--bs-border-width) solid var(--bs-border-color);
	border-bottom: var(--bs-border-width) solid var(--bs-border-color);
	background-color: $color-dark;
}
