@import "node_modules/bootstrap/scss/bootstrap";

@import url("./style/_variables.scss");
@import url("./style/_utilities.scss");
@import url("./style/poppins.scss");
@import url("./style/App.scss");
@import url("./style/AppSection.scss");

// Define custom styles
body {
	margin: 0;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
